<header class="to-back">
    <div class="navbar-fixed">
        <nav class="dark darken-2">
            <div class="nav-wrapper center container">
                <a class="brand-logo logo-text white-text">Lowkey</a>
                <div class="hide-on-large-only">
                    <a href="#" data-target="left-sidenav" class="sidenav-trigger left">
                        <i class="material-icons white-text rounded pointer">menu</i>
                    </a>
                </div>
            </div>
        </nav>
    </div>
</header>