<div class="container">
    <h4 class="admin-title center">Informações Administrativas</h4>
    <div class="row">
        <br>
        <div class="col s12 m6">
            <div class="card black outline-dark-darken-2 rounded">
                <div class="card-content white-text center">
                    <span class="card-title title">Utilizadores</span>
                    <h3 class="center" id="users">{{aplication.members}}</h3>
                    <span class="grey-text">Utilizadores Registados</span>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card black outline-dark-darken-2 rounded">
                <div class="card-content white-text center">
                    <span class="card-title title">Mensagens</span>
                    <h3 class="center" id="messages">{{aplication.messages}}</h3>
                    <span class="grey-text">Mensagens Enviadas</span>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card black outline-dark-darken-2 rounded">
                <div class="card-content white-text center">
                    <span class="card-title title">Online</span>
                    <h3 class="center" id="online">{{aplication.online}}</h3>
                    <span class="grey-text">Utilizadores Online</span>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card black outline-dark-darken-2 rounded">
                <div class="card-content white-text center">
                    <span class="card-title title">Ficheiros</span>
                    <h3 class="center" id="files">{{aplication.files}}</h3>
                    <span class="grey-text">Ficheiros Guardados</span>
                </div>
            </div>
        </div>
    </div>
</div>