<div id="distbuilds-modal" class="modal dark darken-3 scale-transition scale-in">
    <div class="modal-content">
        <div class="center">
            <h4 class="title">Lowkey para computadores</h4>
            <span class="grey-text text-lighten-1"></span>
        </div>
        <div class="row">
            <div class="col s12 m6 push-m6 valign hide-on-small-and-down remove padding">
                <div class="container">
                    <br><br><br>
                    <img class="responsive-img right" src="/static/modules/images/landing/lowkey-app.png">
                </div>
            </div>
            <div class="col s12 m6 pull-m6 valign remove padding">
                <br>
                <h5 class="title center">Escolha a sua plataforma</h5>
                <br>
                <div class="container">
                    <div class="row">
                        <div class="col s12">
                            <a class="btn-flat use all width left center outline-primary rounded bold primary-text max-width" href="/static/dist/windows/Lowkey_installer.exe" download>
                                <i class="material-icons left">get_app</i>
                                WINDOWS
                            </a>
                        </div>
                        <div class="col s12">
                            <br>
                            <a class="btn-flat use all width left center outline-dark-darken-2 deep-orange darken-4 rounded bold white-text max-width" href="/static/dist/linux/lowkey-linux-x64.rar" download>
                                <i class="material-icons left">get_app</i>
                                LINUX
                            </a>
                        </div>
                        <div class="col s12">
                            <br>
                            <a class="btn-flat use all width left center primary outline-dark-darken-2 rounded bold white-text max-width" href="/static/dist/darwin/lowkey-darwin-x64.rar" download>
                                <i class="material-icons left">get_app</i>
                                MAC
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>