<header class="gradient">
    <nav class="nav-wrapper gradient">
        <div class="container">
            <div class="left hide-on-med-and-up">
                <a class="btn-flat rounded bold white-text remove hover open-sidenav">
                    <i class="material-icons-outlined left">menu</i>
                </a>
            </div>

            <a class="brand-logo logo-text" style="left: 50% !important;">
                <img class="responsive-img hide-on-small-and-down" src="/static/modules/favicon/lowkey-icon.ico" style="width: 70px !important; height: 70px !important; margin-bottom: -24px !important;">
                Lowkey
            </a>

            <div class="right hide-on-small-and-down">
                <a class="btn-flat outline-white rounded bold white-text remove hover login">
                    <i class="material-icons-outlined left">exit_to_app</i>
                    ENTRAR
                </a>
            </div>
            <div class="right hide-on-med-and-up">
                <a class="btn-flat rounded bold white-text remove hover login">
                    <i class="material-icons-outlined left">exit_to_app</i>
                </a>
            </div>
        </div>
        <ul class="sidenav dark darken-3" id="mobile-sidenav">
            <li class="remove padding">
                <div class="actions remove padding">
                    <a class="btn-flat use all width login">
                        <i class="material-icons-outlined left">exit_to_app</i>
                        Entrar
                    </a>
                </div>
            </li>
            <li class="remove padding">
                <div class="actions remove padding">
                    <a class="btn-flat use all width register">
                        <i class="material-icons-outlined left">person_add</i>
                        Registar
                    </a>
                </div>
            </li>
        </ul>
    </nav>
    <section class="gradient">
        <div class="container row">
            <div class="col s12 m6 l6 content-text">
                <h3 class="white-text left">Mensagens grátis e seguras para qualquer pessoa em qualquer lugar</h3>
                <div class="row container">
                    <div class="col s12 m12 l12">
                        <span class="grey-text text-lighten-3 justify">
                            Esteja mais perto de quem é mais importante.<br>
                            Com o Lowkey, as suas mensagens são rápidas, simples, seguras e gratuitas.
                            Disponível em todos dispositivos desde o computador ao telefone ao redor do mundo.
                            <br><br>
                            Descarregue já a aplicação, disponivel para: Windows, Linux e Mac!
                        </span>
                    </div>
                    <div class="col s12 m12 l12 center">
                        <br>
                        <div class="row">
                            <div class="col s6">
                                <a href="#distbuilds-modal" class="btn-flat white pulse black-text rounded right bold outline-white modal-trigger" style="z-index: 1;">
                                    <i class="material-icons left">get_app</i>
                                    DOWNLOAD
                                </a>
                            </div>
                            <div class="col s6">
                                <a class="btn-flat outline-white rounded bold white-text remove hover register left">
                                    <i class="material-icons-outlined left">person_add</i>
                                    REGISTAR
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l6 center hide-on-small-and-down"><br><br><br>
                <img class="responsive-img remove img-margin" src="/static/modules/images/landing/lowkey-funny.png">
            </div>
        </div>
    </section>

    <svg class="landing-wave" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 100" preserveAspectRatio="none">
        <path class="landing landing-wave-path "
            d="M826.337463,25.5396311 C670.970254,58.655965 603.696181,68.7870267 447.802481,35.1443383 C293.342778,1.81111414 137.33377,1.81111414 0,1.81111414 L0,150 L1920,150 L1920,1.81111414 C1739.53523,-16.6853983 1679.86404,73.1607868 1389.7826,37.4859505 C1099.70117,1.81111414 981.704672,-7.57670281 826.337463,25.5396311 Z"
            fill="#f8f9fd">
        </path>
    </svg>

    </div>
</header>