<main class="container">
    <section class="row white-text">
        <div class="col s12 center white-text ">
            <h4 class="title-text"> Mais do que mensagens </h4>
            <span class="content-text">Diversas caraterísticas para mensagens que lhe vão dar um sem fim de opções para se exprimir.<br>Facilite a sua vida.</span>
        </div>
    </section>
    <section class="row grey-text">
        <br><br><br>
        <section class="valign-wrapper">
            <div class="col s12 m6">
                <div class="card small dark darken-2 remove boxshadow">
                    <div class="container">
                        <img class="responsive-img card-image" src="/static/modules/images/landing/lowkey-social.png">
                    </div>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="card-title-holder">
                    <span class="card-title landing white-text rounded">DIVERSÃO</span>
                </div>
                <div class="divider"></div>
                <p class="card-text white-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec tellus interdum,
                    ullamcorper nisl et, commodo nibh.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec tellus interdum,
                    ullamcorper nisl et, commodo nibh.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec tellus interdum,
                </p>
            </div>
        </section>

        <section class="valign-wrapper">
            <div class="col s12 m6">
                <div class="card-title-holder">
                    <span class="card-title landing white-text rounded">SEGURANÇA</span>
                </div>
                <div class="divider"></div>
                <p class="card-text white-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec tellus interdum,
                    ullamcorper nisl et, commodo nibh.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec tellus interdum,
                    ullamcorper nisl et, commodo nibh.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec tellus interdum,
                </p>
            </div>
            <div class="col s12 m6">
                <div class="card small dark darken-2 remove boxshadow">
                    <div class="container">
                        <img class="responsive-img card-image" src="/static/modules/images/landing/lowkey-secure.png">
                    </div>
                </div>
            </div>
        </section>
        <section class="valign-wrapper">
            <div class="col s12 m6">
                <div class="card small dark darken-2 remove boxshadow">
                    <div class="container">
                        <img class="responsive-img card-image" src="/static/modules/images/landing/lowkey-devices.png">
                        </div>
                    </div>
                </div>
                <div class="col s12 m6">
                    <div class="card-title-holder">
                        <span class="card-title landing white-text rounded">MULTIPLATAFORMA</span>
                    </div>
                    <div class="divider"></div>
                    <p class="card-text white-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec tellus interdum,
                        ullamcorper nisl et, commodo nibh.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec tellus interdum,
                        ullamcorper nisl et, commodo nibh.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec tellus interdum,
                    </p>
                </div>
        </section>
    </section>
</main>